.items {
    display: flex;
    flex-wrap: wrap;
}

.item {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 272px;
}

.image {
    position: relative;
}

.count {
    background: #4C4CFF;
    border-radius: 16px;
    position: absolute;
    width: 32px;
    height: 32px;
    text-align: center;
    right: 0px;
    top: 0px;
    padding-top: 3px;
}

.price {
    display: flex;
}

.name {
    text-align: center;
}