.register {
    width: 480px;
    height: 430px;
    margin-top: 200px;
    text-align: center;
}

.register :global(.input_size_default) {
    width: 480px;
}

.link {
    color: #4C4CFF;
}

.footer {
    margin-top: 80px;
}