.constructor {
    flex-basis: 600px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 12px;
}

.items {
    overflow: auto;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    gap: 10px;
}

.item {
    width: 536px;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.total {
    display: flex;
    align-items: center;
}

.sum {
    display: flex;
    align-items: center;
}