.constructor {
    flex-basis: 600px;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    gap: 10px;
}

.items {
    overflow: auto;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    gap: 10px;
}

.items::-webkit-scrollbar {
    width: 8px;
    /* width of the entire scrollbar */
}

.items::-webkit-scrollbar-track {
    background: #2F2F37;
    /* color of the tracking area */
}

.items::-webkit-scrollbar-thumb {
    background-color: #8585AD;
    /* roundness of the scroll thumb */
    border: 3px solid #8585AD;
    /* creates padding around scroll thumb */
}

.item {
    width: 536px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.total {
    display: flex;
    align-items: center;
}

.sum {
    display: flex;
    align-items: center;
}