.order {
	padding: 24px;
	background: #1C1C21;
	border-radius: 40px;
	margin-bottom: 16px;
}

.info {
	display: flex;
	justify-content: space-between;
	margin-bottom: 24px;
}

.ingredients {
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.ingredients_list {
	display: flex;
	justify-content: start;
}

.ingredients_total {
	display: flex;
	align-items: center;
}

.ingredients_total .sum {
	margin-right: 9px;
}