.ingredient {
	display: flex;
	justify-content: space-between;
	align-items: center;
	flex-grow: 1;
}

.img {
	flex: 0 0 64px;
}

.title {
	flex: 1 0 auto;
}

.summary {
	display: flex;
	justify-content: flex-end;
	flex: 1 0 auto;
}