.item {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 272px;
    cursor: pointer;
}

.image {
    position: relative;
}

.price {
    display: flex;
}

.name {
    text-align: center;
}