.ingredients {
    flex-basis: 600px;
    display: flex;
    flex-direction: column;
}

.tab {
    display: flex;
}

.tab div {
    flex: 1 0 auto;
}

.items {
    height: 100%;
    overflow: auto;

}

.items::-webkit-scrollbar {
    width: 8px;
    /* width of the entire scrollbar */
}

.items::-webkit-scrollbar-track {
    background: #2F2F37;
    /* color of the tracking area */
}

.items::-webkit-scrollbar-thumb {
    background-color: #8585AD;
    /* roundness of the scroll thumb */
    border: 3px solid #8585AD;
    /* creates padding around scroll thumb */
}